fastapi==0.86.0
pydantic==1.10.2
SQLAlchemy==1.4.43
pytest==7.4.4
httpx==0.26.0
anyio==3.6.2
requests==2.31.0
mysqlclient==2.1.0
python-jose==3.3.0   
passlib[bcrypt]==1.7.4  
uvicorn==0.23.0
python-dotenv==1.0.0
pyjwt==2.7.0
python-multipart==0.0.6 